<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.1">

<gap:platform name="ios" />
<gap:platform name="android" />

<name>SLA Lunch App</name>

<description>
Order Student Lunches
</description>

<author href="https://example.com" email="davidzold@gmail.com">
David Zold
</author>

<icon src="IconAdmin.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash1.png" gap:platform="android" gap:density="hdpi" />

<access origin="http://code.jquery.com" subdomains="true" />
<access origin="http://slalunchorders.com"/>
</widget>
