<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "3.9.0">

<gap:platform name="ios" />
<gap:platform name="android" />

<name>SLA Test 1</name>

<description>
A simple Davebuild Application.
</description>

<author href="https://example.com" email="you@example.com">
Your Name
</author>

<icon src="IconAdmin.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="IconUser.png" gap:platform="android" gap:density="hdpi" />

<access origin="http://code.jquery.com" subdomains="true" />
<access origin="http://whybumperstickers.netau.net"/>
</widget>
